In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
tasks = pd.read_csv('Analyst_Test_Tasks.csv')
tasks.head()

,Patient drchrono ID,Category,Status,Priority,Assigned To,Created on,Create by,Updated on,Next Appt Date,HC20 Status,HC20 Substatus,Stratification level,Last Appointment Date
0,60094576,Specimen Collection,Complete,20,MOXXIadmin,2016-07-22T14:14:20,Neilsolomon,2018-03-28T21:14:32,NaN,NaN,NaN,NaN,2016-08-05 21:30:00
1,59946176,Phone Call,Complete,20,MOXXIadmin,2016-08-25T20:07:00,nsome,2018-03-28T21:14:32,2018-07-26T17:00:00.000Z,Enrolled,Scheduled,High,2018-06-20 21:30:00
2,59740292,Phone Call,Complete,20,MOXXIadmin,2016-08-29T18:23:10,nsome,2018-03-28T21:14:32,2018-03-30T15:30:00.000Z,Disenrolled,Ineligible - insurance,NaN,2018-02-21 19:15:00
3,60121538,Phone Call,Complete,20,MOXXIadmin,2016-09-02T15:08:08,nsome,2018-03-28T21:14:32,NaN,Disenrolled,Ineligible - insurance,NaN,2018-03-13 16:55:00
4,60121538,NaN,Complete,20,MOXXIadmin,2016-09-06T08:54:44,nsome,2018-03-28T21:14:32,NaN,Disenrolled,Ineligible - insurance,NaN,2018-03-13 16:55:00

In [3]:
tasks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3659 entries, 0 to 3658
Data columns (total 13 columns):
Patient drchrono ID      3659 non-null int64
Category                 3445 non-null object
Status                   3659 non-null object
Priority                 3659 non-null int64
Assigned To              3598 non-null object
Created on               3659 non-null object
Create by                2961 non-null object
Updated on               3659 non-null object
Next Appt Date           2411 non-null object
HC20 Status              3646 non-null object
HC20 Substatus           3646 non-null object
Stratification level     621 non-null object
Last Appointment Date    3659 non-null object
dtypes: int64(2), object(11)
memory usage: 371.7+ KB

In [8]:
tasks.isnull().sum()

Patient drchrono ID         0
Category                  214
Status                      0
Priority                    0
Assigned To                61
Created on                  0
Create by                 698
Updated on                  0
Next Appt Date           1248
HC20 Status                13
HC20 Substatus             13
Stratification level     3038
Last Appointment Date       0
dtype: int64

In [51]:
tasks.shape

(3659, 13)

In [53]:
tasks.size

47567

In [11]:
tasks['Status'].value_counts()

Complete       2773
In Progress     633
Open            153
On Hold          58
Authorized       39
Back to PCP       3
Name: Status, dtype: int64

In [12]:
tasks['Assigned To'].value_counts()

MOXXIadmin          2517
suzztasharma         203
gblandon             193
marlenegarcia        163
CareCoordinators     111
pvallejo             109
aarreola              92
darzate               68
aalmanza              17
kelder                16
mdavis07              15
cmathews              11
kapostol              11
ebenons                9
epopoca                8
HRubin                 7
stinajero              6
Neilsolomon            5
mduarte                4
nsome                  4
hcolomer               4
ggardner               4
hanzaldua              4
AmandaMay              3
egragnani              2
mariadperez            2
aglaros                1
GFedalizo              1
CSobrian               1
mikejimenez            1
CMiranda               1
MyrnaGonzalez          1
alexgerson             1
cristianpacheco        1
JessicaMejia           1
DanaLewis              1
Name: Assigned To, dtype: int64

In [67]:
tasks_unfinished = tasks.loc[tasks['Status'] !='Complete']
tasks_unfinished

,Patient drchrono ID,Category,Status,Priority,Assigned To,Created on,Create by,Updated on,Next Appt Date,HC20 Status,HC20 Substatus,Stratification level,Last Appointment Date
262,69026616,Referral,In Progress,20,aarreola,2017-10-13T13:49:15,nsome,2018-06-28T19:27:28,2018-08-16T16:00:00.000Z,Enrolled,Scheduled,NaN,2018-05-17 16:00:00
368,69321260,Medical Records Request,On Hold,20,CareCoordinators,2017-11-30T16:25:15,NaN,2018-07-09T11:44:21,NaN,Enrolled,Appt completed,NaN,2018-06-01 18:00:00
377,68793552,Medical Records Request,On Hold,20,cmathews,2017-12-04T13:10:20,NaN,2018-06-25T16:08:44,2018-07-17T17:30:00.000Z,Enrolled,Scheduled,NaN,2018-07-06 20:15:00
391,67917278,Medical Records Request,In Progress,20,suzztasharma,2017-12-06T14:17:21,dyousef,2018-06-19T17:21:40,2018-07-03T17:00:00.000Z,Enrolled,Scheduled,NaN,2018-06-08 19:15:00
427,70296028,Medical Records Request,In Progress,40,suzztasharma,2017-12-11T20:02:23,NaN,2018-06-08T17:41:18,2018-07-30T22:00:00.000Z,Enrolled,Scheduled,NaN,2018-07-09 20:30:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3653,72627908,Medical Records Request,In Progress,30,gblandon,2018-07-13T17:13:31,dyousef,2018-07-13T19:36:31,2018-07-20T23:10:00.000Z,Enrolled,Scheduled,High,2018-07-13 19:40:00
3655,59660512,Pharmacy Request,Open,20,nsome,2018-07-13T19:21:48,gblandon,2018-07-13T19:21:48,2018-07-24T19:20:00.000Z,Enrolled,Scheduled,NaN,2018-07-12 20:55:00
3656,75868580,Phone Call,Open,20,Neilsolomon,2018-07-13T21:18:31,hcolomer,2018-07-13T21:18:31,2018-07-18T21:40:00.000Z,Enrolled,Scheduled,NaN,2018-07-12 21:45:00
3657,75752396,DME,Open,20,CareCoordinators,2018-07-14T02:01:09,hopejavier,2018-07-14T02:01:09,2018-08-17T20:00:00.000Z,Enrolled,Scheduled,NaN,2018-07-13 21:50:00
3658,72722878,Pharmacy Request,Open,20,nsome,2018-07-14T21:19:54,kelder,2018-07-14T21:19:54,2018-07-17T23:35:00.000Z,Enrolled,Scheduled,NaN,2018-07-06 18:10:00

In [71]:
CareCoordinator_names = ['Aarreola', 'Pvallego','marlenegarcia','suzztashrma','CareCoordinators','darzate','gblandon']
tasks_unfinished_coordinators = tasks_unfinished['Assigned To'] =='CareCoordinator_names')]

KeyError: 'CareCoordinator_names'

In [14]:
tasks['Create by'].value_counts()

dyousef          829
nsome            718
Neilsolomon      471
HRubin           246
gblandon         188
vzuniga          102
kelder            80
suzztasharma      64
ggardner          49
aalmanza          24
pvallejo          24
jtulsky           23
cmathews          22
egragnani         21
aarreola          20
marlenegarcia     18
dmshuster         10
MyrnaGonzalez      8
AmandaMay          8
hcolomer           7
darzate            7
epopoca            6
NeoldinoPapa       4
KDouglas           3
HSchade            2
hanzaldua          2
mduarte            1
alexgerson         1
hopejavier         1
kapostol           1
ebenons            1
Name: Create by, dtype: int64

In [15]:
tasks['Category'].value_counts()

Referral                   1199
Phone Call                  667
Medical Records Request     437
DME                         280
Pharmacy Request            263
Lab Results                 217
Social Services             151
Supplies                     83
Specimen Collection          64
Behavioral Health            48
Transportation               36
Name: Category, dtype: int64

In [34]:
tasks.rename(columns={'Created on':'Created_on'})

,Patient drchrono ID,Category,Status,Priority,Assigned To,Created_on,Create by,Updated on,Next Appt Date,HC20 Status,HC20 Substatus,Stratification level,Last Appointment Date
0,60094576,Specimen Collection,Complete,20,MOXXIadmin,2016-07-22T14:14:20,Neilsolomon,2018-03-28T21:14:32,NaN,NaN,NaN,NaN,2016-08-05 21:30:00
1,59946176,Phone Call,Complete,20,MOXXIadmin,2016-08-25T20:07:00,nsome,2018-03-28T21:14:32,2018-07-26T17:00:00.000Z,Enrolled,Scheduled,High,2018-06-20 21:30:00
2,59740292,Phone Call,Complete,20,MOXXIadmin,2016-08-29T18:23:10,nsome,2018-03-28T21:14:32,2018-03-30T15:30:00.000Z,Disenrolled,Ineligible - insurance,NaN,2018-02-21 19:15:00
3,60121538,Phone Call,Complete,20,MOXXIadmin,2016-09-02T15:08:08,nsome,2018-03-28T21:14:32,NaN,Disenrolled,Ineligible - insurance,NaN,2018-03-13 16:55:00
4,60121538,NaN,Complete,20,MOXXIadmin,2016-09-06T08:54:44,nsome,2018-03-28T21:14:32,NaN,Disenrolled,Ineligible - insurance,NaN,2018-03-13 16:55:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3654,74177154,Pharmacy Request,Complete,20,MOXXIadmin,2018-07-13T18:35:35,gblandon,2018-07-13T19:34:59,2018-07-16T23:15:00.000Z,Enrolled,Scheduled,High,2018-06-28 22:50:00
3655,59660512,Pharmacy Request,Open,20,nsome,2018-07-13T19:21:48,gblandon,2018-07-13T19:21:48,2018-07-24T19:20:00.000Z,Enrolled,Scheduled,NaN,2018-07-12 20:55:00
3656,75868580,Phone Call,Open,20,Neilsolomon,2018-07-13T21:18:31,hcolomer,2018-07-13T21:18:31,2018-07-18T21:40:00.000Z,Enrolled,Scheduled,NaN,2018-07-12 21:45:00
3657,75752396,DME,Open,20,CareCoordinators,2018-07-14T02:01:09,hopejavier,2018-07-14T02:01:09,2018-08-17T20:00:00.000Z,Enrolled,Scheduled,NaN,2018-07-13 21:50:00
3658,72722878,Pharmacy Request,Open,20,nsome,2018-07-14T21:19:54,kelder,2018-07-14T21:19:54,2018-07-17T23:35:00.000Z,Enrolled,Scheduled,NaN,2018-07-06 18:10:00

In [50]:
#tasks.groupby('Category').agg(mean_Status = ('Status'=='Complete','mean')).round(-3)