In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
tasks = pd.read_csv('Analyst_Test_Tasks.csv')
tasks.head()

,Patient drchrono ID,Category,Status,Priority,Assigned To,Created on,Create by,Updated on,Next Appt Date,HC20 Status,HC20 Substatus,Stratification level,Last Appointment Date
0,60094576,Specimen Collection,Complete,20,MOXXIadmin,2016-07-22T14:14:20,Neilsolomon,2018-03-28T21:14:32,NaN,NaN,NaN,NaN,2016-08-05 21:30:00
1,59946176,Phone Call,Complete,20,MOXXIadmin,2016-08-25T20:07:00,nsome,2018-03-28T21:14:32,2018-07-26T17:00:00.000Z,Enrolled,Scheduled,High,2018-06-20 21:30:00
2,59740292,Phone Call,Complete,20,MOXXIadmin,2016-08-29T18:23:10,nsome,2018-03-28T21:14:32,2018-03-30T15:30:00.000Z,Disenrolled,Ineligible - insurance,NaN,2018-02-21 19:15:00
3,60121538,Phone Call,Complete,20,MOXXIadmin,2016-09-02T15:08:08,nsome,2018-03-28T21:14:32,NaN,Disenrolled,Ineligible - insurance,NaN,2018-03-13 16:55:00
4,60121538,NaN,Complete,20,MOXXIadmin,2016-09-06T08:54:44,nsome,2018-03-28T21:14:32,NaN,Disenrolled,Ineligible - insurance,NaN,2018-03-13 16:55:00

In [3]:
tasks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3659 entries, 0 to 3658
Data columns (total 13 columns):
Patient drchrono ID      3659 non-null int64
Category                 3445 non-null object
Status                   3659 non-null object
Priority                 3659 non-null int64
Assigned To              3598 non-null object
Created on               3659 non-null object
Create by                2961 non-null object
Updated on               3659 non-null object
Next Appt Date           2411 non-null object
HC20 Status              3646 non-null object
HC20 Substatus           3646 non-null object
Stratification level     621 non-null object
Last Appointment Date    3659 non-null object
dtypes: int64(2), object(11)
memory usage: 371.7+ KB

In [4]:
tasks.isnull().sum()

Patient drchrono ID         0
Category                  214
Status                      0
Priority                    0
Assigned To                61
Created on                  0
Create by                 698
Updated on                  0
Next Appt Date           1248
HC20 Status                13
HC20 Substatus             13
Stratification level     3038
Last Appointment Date       0
dtype: int64

In [5]:
tasks.shape

(3659, 13)

In [6]:
tasks.size

47567

In [7]:
tasks['Status'].value_counts()

Complete       2773
In Progress     633
Open            153
On Hold          58
Authorized       39
Back to PCP       3
Name: Status, dtype: int64

In [8]:
tasks['Assigned To'].value_counts()

MOXXIadmin          2517
suzztasharma         203
gblandon             193
marlenegarcia        163
CareCoordinators     111
pvallejo             109
aarreola              92
darzate               68
aalmanza              17
kelder                16
mdavis07              15
kapostol              11
cmathews              11
ebenons                9
epopoca                8
HRubin                 7
stinajero              6
Neilsolomon            5
hanzaldua              4
hcolomer               4
mduarte                4
nsome                  4
ggardner               4
AmandaMay              3
egragnani              2
mariadperez            2
CSobrian               1
GFedalizo              1
CMiranda               1
aglaros                1
DanaLewis              1
mikejimenez            1
alexgerson             1
JessicaMejia           1
MyrnaGonzalez          1
cristianpacheco        1
Name: Assigned To, dtype: int64

In [9]:
tasks_unfinished = tasks.loc[tasks['Status'] !='Complete']
tasks_unfinished

,Patient drchrono ID,Category,Status,Priority,Assigned To,Created on,Create by,Updated on,Next Appt Date,HC20 Status,HC20 Substatus,Stratification level,Last Appointment Date
262,69026616,Referral,In Progress,20,aarreola,2017-10-13T13:49:15,nsome,2018-06-28T19:27:28,2018-08-16T16:00:00.000Z,Enrolled,Scheduled,NaN,2018-05-17 16:00:00
368,69321260,Medical Records Request,On Hold,20,CareCoordinators,2017-11-30T16:25:15,NaN,2018-07-09T11:44:21,NaN,Enrolled,Appt completed,NaN,2018-06-01 18:00:00
377,68793552,Medical Records Request,On Hold,20,cmathews,2017-12-04T13:10:20,NaN,2018-06-25T16:08:44,2018-07-17T17:30:00.000Z,Enrolled,Scheduled,NaN,2018-07-06 20:15:00
391,67917278,Medical Records Request,In Progress,20,suzztasharma,2017-12-06T14:17:21,dyousef,2018-06-19T17:21:40,2018-07-03T17:00:00.000Z,Enrolled,Scheduled,NaN,2018-06-08 19:15:00
427,70296028,Medical Records Request,In Progress,40,suzztasharma,2017-12-11T20:02:23,NaN,2018-06-08T17:41:18,2018-07-30T22:00:00.000Z,Enrolled,Scheduled,NaN,2018-07-09 20:30:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3653,72627908,Medical Records Request,In Progress,30,gblandon,2018-07-13T17:13:31,dyousef,2018-07-13T19:36:31,2018-07-20T23:10:00.000Z,Enrolled,Scheduled,High,2018-07-13 19:40:00
3655,59660512,Pharmacy Request,Open,20,nsome,2018-07-13T19:21:48,gblandon,2018-07-13T19:21:48,2018-07-24T19:20:00.000Z,Enrolled,Scheduled,NaN,2018-07-12 20:55:00
3656,75868580,Phone Call,Open,20,Neilsolomon,2018-07-13T21:18:31,hcolomer,2018-07-13T21:18:31,2018-07-18T21:40:00.000Z,Enrolled,Scheduled,NaN,2018-07-12 21:45:00
3657,75752396,DME,Open,20,CareCoordinators,2018-07-14T02:01:09,hopejavier,2018-07-14T02:01:09,2018-08-17T20:00:00.000Z,Enrolled,Scheduled,NaN,2018-07-13 21:50:00
3658,72722878,Pharmacy Request,Open,20,nsome,2018-07-14T21:19:54,kelder,2018-07-14T21:19:54,2018-07-17T23:35:00.000Z,Enrolled,Scheduled,NaN,2018-07-06 18:10:00

In [10]:
tasks_unfinished['Assigned To'].value_counts()

suzztasharma        198
marlenegarcia       152
gblandon            133
CareCoordinators     95
aarreola             83
pvallejo             80
darzate              68
cmathews             10
aalmanza              7
kapostol              7
HRubin                6
ebenons               6
Neilsolomon           5
hanzaldua             4
ggardner              4
mduarte               4
stinajero             4
epopoca               3
nsome                 3
MOXXIadmin            3
hcolomer              2
mdavis07              2
mariadperez           2
egragnani             1
kelder                1
DanaLewis             1
MyrnaGonzalez         1
Name: Assigned To, dtype: int64

In [11]:
CareCoordiantor_Names = pd.read_csv('Care Coordinator Names.csv')
CareCoordiantor_Names

  There are 7 care coordinators:
0                       Aarreola
1                       Pvallego
2                  marlenegarcia
3                   suzztasharma
4               CareCoordinators
5                        darzate
6                       gblandon

In [12]:
tasks['Create by'].value_counts()

dyousef          829
nsome            718
Neilsolomon      471
HRubin           246
gblandon         188
vzuniga          102
kelder            80
suzztasharma      64
ggardner          49
pvallejo          24
aalmanza          24
jtulsky           23
cmathews          22
egragnani         21
aarreola          20
marlenegarcia     18
dmshuster         10
MyrnaGonzalez      8
AmandaMay          8
hcolomer           7
darzate            7
epopoca            6
NeoldinoPapa       4
KDouglas           3
HSchade            2
hanzaldua          2
alexgerson         1
ebenons            1
kapostol           1
mduarte            1
hopejavier         1
Name: Create by, dtype: int64

In [13]:
tasks['Category'].value_counts()

Referral                   1199
Phone Call                  667
Medical Records Request     437
DME                         280
Pharmacy Request            263
Lab Results                 217
Social Services             151
Supplies                     83
Specimen Collection          64
Behavioral Health            48
Transportation               36
Name: Category, dtype: int64

In [48]:
tasks_completed = tasks.loc[tasks['Status'] =='Complete']
tasks_completed.set_index('Status')

,Patient drchrono ID,Category,Priority,Assigned To,Created on,Create by,Updated on,Next Appt Date,HC20 Status,HC20 Substatus,Stratification level,Last Appointment Date
Status,,,,,,,,,,,,
Complete,60094576,Specimen Collection,20,MOXXIadmin,2016-07-22T14:14:20,Neilsolomon,2018-03-28T21:14:32,NaN,NaN,NaN,NaN,2016-08-05 21:30:00
Complete,59946176,Phone Call,20,MOXXIadmin,2016-08-25T20:07:00,nsome,2018-03-28T21:14:32,2018-07-26T17:00:00.000Z,Enrolled,Scheduled,High,2018-06-20 21:30:00
Complete,59740292,Phone Call,20,MOXXIadmin,2016-08-29T18:23:10,nsome,2018-03-28T21:14:32,2018-03-30T15:30:00.000Z,Disenrolled,Ineligible - insurance,NaN,2018-02-21 19:15:00
Complete,60121538,Phone Call,20,MOXXIadmin,2016-09-02T15:08:08,nsome,2018-03-28T21:14:32,NaN,Disenrolled,Ineligible - insurance,NaN,2018-03-13 16:55:00
Complete,60121538,NaN,20,MOXXIadmin,2016-09-06T08:54:44,nsome,2018-03-28T21:14:32,NaN,Disenrolled,Ineligible - insurance,NaN,2018-03-13 16:55:00
...,...,...,...,...,...,...,...,...,...,...,...,...
Complete,63200518,Phone Call,20,MOXXIadmin,2018-07-12T17:49:36,suzztasharma,2018-07-12T18:45:15,2018-07-17T17:00:00.000Z,Enrolled,Scheduled,NaN,2018-06-20 18:45:00
Complete,74281416,Lab Results,20,MOXXIadmin,2018-07-12T20:09:40,Neilsolomon,2018-07-13T20:07:46,2018-07-23T18:11:00.000Z,Enrolled,Scheduled,NaN,2018-07-11 18:05:00
Complete,74281416,Lab Results,20,MOXXIadmin,2018-07-12T21:15:54,Neilsolomon,2018-07-13T18:37:16,2018-07-23T18:11:00.000Z,Enrolled,Scheduled,NaN,2018-07-11 18:05:00
Complete,64972484,Lab Results,20,gblandon,2018-07-13T11:16:10,nsome,2018-07-13T15:20:30,2018-07-27T21:30:00.000Z,Enrolled,Scheduled,NaN,2018-07-12 19:35:00
Complete,74177154,Pharmacy Request,20,MOXXIadmin,2018-07-13T18:35:35,gblandon,2018-07-13T19:34:59,2018-07-16T23:15:00.000Z,Enrolled,Scheduled,High,2018-06-28 22:50:00

In [49]:
tasks_completed.head(10)

,Patient drchrono ID,Category,Status,Priority,Assigned To,Created on,Create by,Updated on,Next Appt Date,HC20 Status,HC20 Substatus,Stratification level,Last Appointment Date
0,60094576,Specimen Collection,Complete,20,MOXXIadmin,2016-07-22T14:14:20,Neilsolomon,2018-03-28T21:14:32,NaN,NaN,NaN,NaN,2016-08-05 21:30:00
1,59946176,Phone Call,Complete,20,MOXXIadmin,2016-08-25T20:07:00,nsome,2018-03-28T21:14:32,2018-07-26T17:00:00.000Z,Enrolled,Scheduled,High,2018-06-20 21:30:00
2,59740292,Phone Call,Complete,20,MOXXIadmin,2016-08-29T18:23:10,nsome,2018-03-28T21:14:32,2018-03-30T15:30:00.000Z,Disenrolled,Ineligible - insurance,NaN,2018-02-21 19:15:00
3,60121538,Phone Call,Complete,20,MOXXIadmin,2016-09-02T15:08:08,nsome,2018-03-28T21:14:32,NaN,Disenrolled,Ineligible - insurance,NaN,2018-03-13 16:55:00
4,60121538,NaN,Complete,20,MOXXIadmin,2016-09-06T08:54:44,nsome,2018-03-28T21:14:32,NaN,Disenrolled,Ineligible - insurance,NaN,2018-03-13 16:55:00
5,60794436,Phone Call,Complete,20,MOXXIadmin,2016-09-14T18:30:16,nsome,2018-03-28T21:14:32,NaN,Closed lead,Ineligible - medical,NaN,1970-01-01 00:00:00
6,60121538,Specimen Collection,Complete,20,MOXXIadmin,2016-10-05T18:44:30,nsome,2018-03-28T21:14:32,NaN,Disenrolled,Ineligible - insurance,NaN,2018-03-13 16:55:00
7,59702940,Phone Call,Complete,20,MOXXIadmin,2016-10-06T12:14:24,nsome,2018-03-28T21:14:32,NaN,NaN,NaN,NaN,2016-10-06 16:20:00
8,59660512,Phone Call,Complete,20,MOXXIadmin,2016-11-01T14:24:19,nsome,2018-03-28T21:14:33,2018-07-24T19:20:00.000Z,Enrolled,Scheduled,NaN,2018-07-12 20:55:00
9,61711330,Phone Call,Complete,20,MOXXIadmin,2016-11-01T14:43:34,nsome,2018-03-28T21:14:33,NaN,NaN,NaN,NaN,2016-10-26 19:50:00

In [52]:
tasks_completed.tail(10)

,Patient drchrono ID,Category,Status,Priority,Assigned To,Created on,Create by,Updated on,Next Appt Date,HC20 Status,HC20 Substatus,Stratification level,Last Appointment Date
3602,67210120,Pharmacy Request,Complete,20,MOXXIadmin,2018-07-12T11:25:20,gblandon,2018-07-12T13:52:37,2018-07-16T23:30:00.000Z,Enrolled,Scheduled,NaN,2018-05-29 15:30:00
3604,70324346,Medical Records Request,Complete,40,gblandon,2018-07-12T12:07:26,HRubin,2018-07-12T17:12:41,2018-09-05T16:00:00.000Z,Enrolled,Scheduled,NaN,2018-06-26 16:30:00
3606,73160336,Lab Results,Complete,20,MOXXIadmin,2018-07-12T13:22:07,gblandon,2018-07-12T13:48:43,2018-07-26T20:00:00.000Z,Enrolled,Scheduled,NaN,2018-07-11 19:40:00
3610,75380076,Pharmacy Request,Complete,20,MOXXIadmin,2018-07-12T15:54:27,darzate,2018-07-13T12:09:07,2018-07-26T21:20:00.000Z,Enrolled,Scheduled,NaN,2018-07-11 20:10:00
3616,67518870,Medical Records Request,Complete,20,MOXXIadmin,2018-07-12T17:05:07,gblandon,2018-07-12T18:35:02,2018-07-20T18:30:00.000Z,Enrolled,Scheduled,NaN,2018-07-13 16:30:00
3618,63200518,Phone Call,Complete,20,MOXXIadmin,2018-07-12T17:49:36,suzztasharma,2018-07-12T18:45:15,2018-07-17T17:00:00.000Z,Enrolled,Scheduled,NaN,2018-06-20 18:45:00
3622,74281416,Lab Results,Complete,20,MOXXIadmin,2018-07-12T20:09:40,Neilsolomon,2018-07-13T20:07:46,2018-07-23T18:11:00.000Z,Enrolled,Scheduled,NaN,2018-07-11 18:05:00
3624,74281416,Lab Results,Complete,20,MOXXIadmin,2018-07-12T21:15:54,Neilsolomon,2018-07-13T18:37:16,2018-07-23T18:11:00.000Z,Enrolled,Scheduled,NaN,2018-07-11 18:05:00
3629,64972484,Lab Results,Complete,20,gblandon,2018-07-13T11:16:10,nsome,2018-07-13T15:20:30,2018-07-27T21:30:00.000Z,Enrolled,Scheduled,NaN,2018-07-12 19:35:00
3654,74177154,Pharmacy Request,Complete,20,MOXXIadmin,2018-07-13T18:35:35,gblandon,2018-07-13T19:34:59,2018-07-16T23:15:00.000Z,Enrolled,Scheduled,High,2018-06-28 22:50:00